<h1>All Flats</h1>


  <h4>Flats</h4>
  <div class="row">
    <div class="col-xs-12 col col-sm-4">
      <div class="card1">
      <span class="card-category">POPULAR</span>
        <div class="card-description">

        <% @flats.each do |f| %>
          <div class="">
            <p> <%= f.name %></p>
            <img src="https://source.unsplash.com/random" alt="" class="image" >
            <% end %>
          </div>
        </div>
      </div>
    </div>
     <img src="http://placehold.it/50x50" alt="" class="avatar-small card-image">
</div>



